<footer class="footer" role="contentinfo">
	<ul class="footer-nav">
		<li><a href="http://twitter.com/{{ site.twitter_username }}" title="Twitter" target="_blank">Twitter</a></li>
		<li><a href="https://github.com/{{ site.github_username }}" title="GitHub" target="_blank">GitHub</a></li>
		<li><a href="mailto:{{ site.email }}" title="Email">Email</a></li>
		<li><a href="{{ "/feed.xml" | relative_url }}" title="RSS">RSS</a></li>
	</ul>
	<p>&copy; {{ site.time | date: '%Y' }} <a href="/">{{ site.title }}</a></p>
</footer>