<aside class="sidebar" role="complementary">
<div itemscope itemtype="http://schema.org/Person">
	<h1 class="visually-hidden">About me</h1>
	<p>
		Matt Clements is a <strong itemprop="jobTitle">Freelance Web Developer</strong> based in the vibrant town of Milton Keynes, specialising in PHP, MySQL, SASS, Javascript and much more. Matt is an adaptive developer who will adjust and adapt to any development project, and will help you reach your final goal.
	</p>
	<ul>
		<li>Freelance Develeper</li>
		<li>IT Development Manager at <a href="http://www.debitfinance.co.uk/" itemprop="url" target="_blank">DFC</a></li>
	</ul>
</div>
<!--<script src="https://embed.github.com/view/geojson/mattclements/mattclements.github.com/master/js/MattClements.geojson?height=330&width=330"></script>-->
</aside>